.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 32px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.button--load {
  padding: 6px;
  background-color: black;
  color: #fff;
  border-radius: 4px;
  font-size: large;
}